<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
          "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta name="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" />
    <title><!-- title --></title>
  </head>
  <body>
    <div class="page">
      <div class="nav">
        <ul class="nav">
          <li class="nav"><a href="/new">New</a></li>
          <li class="nav"><a href="/">All</a></li>
        </ul>
      </div>
      <div class="entries">
        <!-- entry list -->
      </div>
    </div>
    <div class="footer">
      <h3 id="copyright">Copyright 2011</h3>
    </div>
  </body>
</html>
